@{
    ViewBag.Title = "No Access";
}

<hgroup class="title">
    <h1>No Access</h1>
    <br />
    <p>You do not have access to this screen. If you believe this is an error, please contact your administrator.</p>
</hgroup>
