@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Human Resources</h2>
        <br />
    </div>
</div>

@* ToDo: Continue adding in missing links *@
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Forms</h3>
            </div>
            <div class="panel-body">
                <p>
                    You will need Adobe Acrobat to read these PDFs.
                </p>
                <p>
                    <a href="~/Files/PDFs/HR/2016_TheScientificConsultingGroup_BenefitBrochure_Final.pdf" target="_blank">Benefits Guide</a><br />
                    <a href="~/Files/PDFs/HR/CF Waiver Form.pdf" target="_blank">CareFirst Waiver Form</a><br />
                    <a href="~/Files/PDFs/HR/The Scientific Consulting Group 12-1-16 CF BC OO Plus OA HSA enrollment form.pdf" target="_blank">CareFirst BlueChoice Opt-Out Plus Open Access Enrollment Form</a><br />
                    <a href="~/Files/PDFs/HR/The Scientific Consulting Group 12-1-16 CF BP PPO_7 enrollment form.pdf" target="_blank">CareFirst PPO Enrollment Form</a><br />
                    <a href="~/Files/PDFs/HR/The Scientific Consulting Group 12-1-16 Humana dental  vision employee enrollment form.pdf" target="_blank">Humana Dental &amp; Vision Enrollment Form</a><br />
                    <a href="~/Files/PDFs/HR/The Scientific Consulting Group RS Beneficiary Form.pdf" target="_blank">RS Beneficiary Form</a><br />
                    <a href="~/Files/PDFs/HR/HSA Payroll Election Form.pdf" target="_blank">HSA Payroll Election Form</a><br />
                    <a href="~/Files/PDFs/HR/SCG Social Media Acknowledgement of Receipt.pdf" target="_blank">Social Media Acknowledgement of Receipt</a><br />
                </p>
                <p>
                    You will need Microsoft Word to read these documents.
                </p>
                <p>
                    <a href="~/Files/NonPDFs/HR/The Scientific Consulting Group Inc. VG VPS 3-15-16.doc" target="_blank">VG VPS 3-15-16</a><br />
                    <a href="~/Files/NonPDFs/HR/Payroll Deduction Authorization Form.docx" target="_blank">Payroll Deduction Authorization Form</a><br />
                    <a href="~/Files/NonPDFs/HR/Payroll Deduction Authorization Form.Open Enrollment Dec 2016.docx" target="_blank">Payroll Deduction Authorization Form - Open Enrollment Dec 2016</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">SCG Policies</h3>
            </div>
            <div class="panel-body">
                <p>
                    You will need Adobe Acrobat to read these PDFs.
                </p>
                <p>
                    <a href="~/Files/PDFs/HR/SCG Harassment and Discrimination Policy.final.pdf" target="_blank">Harassment and Discrimination Policy</a><br />
                    <a href="~/Files/PDFs/HR/SCG Leave Policies.pdf" target="_blank">Leave Policies</a><br />
                    <a href="~/Files/PDFs/HR/Inclement Weather Policy.pdf" target="_blank">Inclement Weather Policy</a><br />
                    <a href="~/Files/PDFs/HR/SCG FMLA Policy.pdf" target="_blank">FMLA Policy</a><br />
                    <a href="~/Files/PDFs/HR/FMLA Request Form.pdf" target="_blank">FMLA Leave Request Form</a><br />
                    <a href="~/Files/PDFs/SCG AU Policy.pdf" target="_blank">Computer/Internet Use Policy</a><br />
                    <a href="~/Files/PDFs/HR/SCGDressCodePolicy.pdf" target="_blank">Dress Code Policy</a><br />
                    <a href="~/Files/PDFs/HR/SCG Social Media Code of Conduct.pdf" target="_blank">Social Media Code of Conduct</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Links</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="https://member.carefirst.com/" target="_blank">CareFirst BlueCross BlueShield</a><br />
                    <a href="https://www.humana.com/" target="_blank">Humana Dental and Vision</a><br />
                    <a href="http://www.reliancestandard.com/home/" target="_blank">Reliance Standard (life and disability insurance)</a><br />
                    <a href="http://rsli.acieap.com/" target="_blank">ACI Specialty Benefits (Employee Assistance Plan)</a><br />
                    <a href="https://www.transamerica.com/individual/" target="_blank">Transamerica (401k vendor)</a><br />
                    <a href="https://www.nihfcu.org/" target="_blank">NIH Federal Credit Union</a>
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">References</h3>
            </div>
            <div class="panel-body">
                <p>
                    Below are reference materials.
                </p>
                <p>
                    <a href="~/Files/NonPDFs/Reference/Equipment Signout Policy and Procedures.docx" target="_blank">Equipment Signout Policy and Procedures.docx</a><br />
                    <a href="~/Files/PDFs/HR/SCG Social Media FAQs.pdf" target="_blank">Social Media FAQs</a>
                </p>
            </div>
        </div>
    </div>
</div>