@{
    ViewBag.Title = "Phone Instructions";
}

<div class="row">
    <div class="col-md-12">
        <h2>Initial Setup of Your Mailbox</h2>
        <p>NOTE: Mailboxes are called USER ID. The two mean the same thing.</p>
        <h4>Recording Your Name Extension</h4>
        <ol>
            <li>Access your TMS Mailbox</li>
            <li>Press 3 to change options</li>
            <li>Press 6 to record name-extension</li>
            <li>Record your name-extension (User ID) such as "John Smith extension 102"</li>
            <li>Press # to finish recording</li>
            <li>Press 9 to save your recording</li>
            <li>Press 999# to hang up.</li>
        </ol>


        <h4>Recording Your Greeting</h4>
        <ol>
            <li>Access your TMS Mailbox</li>
            <li>Press 2 to change your greeting</li>
            <li>Press 1 for Greeting 1</li>
            <li>Recording your outgoing greeting, such as "This is John Smith, I'm sorry I missed your call. 
            You may leave me a message after the tone, enter another extension or press 0 for assistance. 
            Next time you can skip my greeting and directly leave me a message by pressing the # sign twice."</li>
            <li>Press # to finish recording. At this point you may press
                <ul>
                    <li>1 to review your recording</li>
                    <li>2 to re-record it</li>
                    <li>3 to append it</li>
                    <li>4 to cancel the recording, or</li>
                    <li>9 to save your recording</li>
                </ul>
            </li>
            <li>Enter 999# to hang up.</li>
        </ol>
    </div>
</div>

