@{
    ViewBag.Title = "Team Resources";
}

<div class="row">
    <div class="col-md-12">
        <h2>Web Team Resources</h2>
        <br />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Archiving</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="#">Website Archiving</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Header Here</h3>
            </div>
            <div class="panel-body">
                <p>
                    Text here
                </p>
            </div>

        </div>
     </div>
</div>
