@{
    ViewBag.Title = "Admin Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Admin</h2>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">SCGSC System Security Plan</h3>
            </div>
            <div class="panel-body">
                <p>
                    You will need Adobe Acrobat to read these PDFs.
                </p>
                <p>
                    <a target="_blank" href="~/Files/PDFs/SCGSC System Security Plan v1.8.pdf">SCGSC System Security Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Audit and Accountability Procedures v1.3.pdf">SCGSC Audit and Accountability Procedures</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Disaster Recovery Plan v1.7.pdf">SCGSC Disaster Recovery Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Facility and Systems Access Policy and Procedures v1.7.pdf">SCGSC Facility and Systems Access Policy and Procedures</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Media Protection Policy and Procedures v1.4.pdf">SCGSC Media Protection Policy and Procedures</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Personnel Security Screening Policy v1.2.pdf">SCGSC Personnel Security Screening Policy</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Security Awareness and Training Policy and Procedures v1.2.pdf">SCGSC Security Awareness and Training Policy and Procedures</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC System and Info Integrity Policy and Procedures v1.3.pdf">SCGSC System and Info Integrity Policy and Procedures</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC System Design Document v1.4.pdf">SCGSC System Design Document</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC System Operations and Maintenance Plan v1.5.pdf">SCGSC System Operations and Maintenance Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Configuration Management Plan v1.6.pdf">SCGSC Configuration Management Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Contingency Planning Policy and Contingency Plan v1.6.pdf">SCGSC Contingency Planning Policy and Contingency Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC Incident Response Policy and Plan v1.5.pdf">SCGSC Incident Response Policy and Plan</a><br />
                    <a target="_blank" href="~/Files/PDFs/SCGSC System Risk Assessment v1.1.pdf">SCGSC System Risk Assessment</a>
                </p>
            </div>
        </div>
    </div>
</div>